<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game[0] }} Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Video Game Library :3</h1>
        <p>Discover, play, and review your favorite games, and manage your friendships!</p>
        <div class="user-info">
            <span>Welcome {{ username }}!</span>
            <a href="/login" class="logout-btn">Logout</a>
            <br> <br/>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search_games">Search</a></li>
                <li><a href="/my_games">My Games</a></li>
                <li><a href="/manage_friends">Friends</a></li>
                <li><a href="/reviews">Your Reviews</a></li>
            </ul>
        </nav>
    </header>
    <h1>{{ game[0] }}</h1>
    <p><strong>Developer:</strong> {{ game[1] }}</p>
    <p><strong>Developer Country:</strong> {{ game[7] or "Unknown" }}</p>
    <p><strong>Base Cost:</strong> ${{ game[2] }}</p>
    <p><strong>Release Year:</strong> {{ game[3] }}</p>
    <p><strong>Global Rating:</strong> {{ game[4] or "Not Rated Yet" }}</p>
    <p><strong>Genres:</strong> {{ game[5] }}</p>
    <p><strong>Platforms:</strong> {{ game[6] }}</p>
    <a href="/">Back to Home</a>
</body>
</html>
