<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Library :3</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Video Game Library :3</h1>
        <p>Discover, play, and review your favorite games, and manage your friendships!</p>
        <div class="user-info">
            <span>Welcome {{ username }}!</span>
            <a href="/login" class="logout-btn">Logout</a>
            <br> <br/>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search_games">Search</a></li>
                <li><a href="/my_games">My Games</a></li>
                <li><a href="/manage_friends">Friends</a></li>
                <li><a href="/reviews">Your Reviews</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="features">
            <div class="feature">
                <h3>Search Games</h3>
                <p>Find games by title, genre, or developer.</p>
                <a href="/search_games">Search Now</a>
            </div>
            <div class="feature">
                <h3>Play Games</h3>
                <p>Log your play sessions and keep track of your gaming activity.</p>
                <a href="/my_games">Play Now</a>
            </div>
            <div class="feature">
                <h3>Write Reviews</h3>
                <p>Rate the games you've played.</p>
                <a href="/my_games">Rate Games</a>
            </div>
            <div class="feature">
                <h3>Manage Friends</h3>
                <p>Connect with other users and explore their libraries.</p>
                <a href="/manage_friends">Manage Friends</a>
            </div>
        </div>
    </main>
</body>
</html>
