<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Game Library :3</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <header>
        <h1>Video Game Library :3</h1>
        <p>Discover, play, and review your favorite games, and manage your friendships!</p>
    <div class="features">
        <div class="feature">
            <h1>Login</h1>
            <br> <br/>
            <form action="/login" method="POST">
                <label for="username">Enter username to continue:</label>
                <input type="text" id="username" name="username" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
