<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Games</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <header>
        <h1>Video Game Library :3</h1>
        <p>Discover, play, and review your favorite games, and manage your friendships!</p>
        <div class="user-info">
            <span>Welcome {{ username }}!</span>
            <a href="/login" class="logout-btn">Logout</a>
            <br> <br/>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search_games">Search</a></li>
                <li><a href="/my_games">My Games</a></li>
                <li><a href="/manage_friends">Friends</a></li>
                <li><a href="/reviews">Your Reviews</a></li>
            </ul>
        </nav>
    </header>
    <h1>Write Review for Game ID: {{ game_id }}</h1>
    <form method="POST">
        <label for="rating">Rating (1-5):</label>
        <input type="number" id="rating" name="rating" min="1" max="5" required>
        <br>
        <button type="submit">Submit Review</button>
    </form>
    <a href="/game_details/{{ game_id }}">Back to Game Details</a>
</body>
</html>
